.MainDash{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.bar-chart, .line-chart{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
    justify-content: space-around;
    align-items: center;
    height: 60%;
}
h1{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}