.Barchart{
    display: flex;
    flex-direction: column;
}
.bar-chart{
    display: flex;
    padding: 20px;
    margin: 20px;
    justify-content: space-around;
    align-items: center;
    height: 60%;
}